html, body, .container-fluid, .row {
    font-size: 14px !important;
    line-height: 1.2 !important;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.row > div {
    height: 100%;
}

.remove-cards-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.card {
    border-radius: 0rem !important;
    overflow-y: auto;
    overflow-x: hidden;
    border: none !important;
    /*border: 1px solid #E9EBEE !important;*/
}

.card-header {
    color: #FFFFFF !important;
    background-color: #213B68 !important;
    padding: 0.15rem 1.25rem!important;
    font-family: 'Corbel'!important;
    font-size: 14px !important;
}

.card-header:first-child {
    border-radius: 0px !important;
}

.card-footer {
    background-color: #F0F0F0 !important;
}

.style-4::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.style-4::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb {
    background-color: #AAA;
    /*border: 2px solid #555555;*/
    border-radius: 10px;
    /*background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);*/
}

.blue-icons {
    color: #00B0F0 !important;
}
.blue-play-icons {
    color: #00B0F0 !important;
    font-size: 3em!important;
}
.icon-cell {
    width: 25px;
    text-align: center;
}

.flowplayer {
    background-color: #00B0F0;
}

.table {
}

.table thead th {
    font-size: 13px !important;
    text-align: center !important;
    color: #00B0F0 !important;
    font-family: 'Corbel'!important;
}

.table td {
    font-size: 13px !important;
    text-align: center !important;
    border-right: 1px solid ghostwhite!important;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #00B0F0;
    color: #FFFFFF;
}

.badge-custom-color {
    background-color: #00B0F0 !important;
    color: #ffffff !important;
}

.alert-icons {
    width: 18px;
    height: 18px;

}

.gr1{
    background: -moz-linear-gradient(0deg, rgba(17,117,190,1) 0%, rgba(17,117,190,1) 6%, rgba(0,174,240,1) 30%, rgba(0,174,240,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(17,117,190,1)), color-stop(6%, rgba(17,117,190,1)), color-stop(30%, rgba(0,174,240,1)), color-stop(100%, rgba(0,174,240,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(17,117,190,1) 0%, rgba(17,117,190,1) 6%, rgba(0,174,240,1) 30%, rgba(0,174,240,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(17,117,190,1) 0%, rgba(17,117,190,1) 6%, rgba(0,174,240,1) 30%, rgba(0,174,240,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(17,117,190,1) 0%, rgba(17,117,190,1) 6%, rgba(0,174,240,1) 30%, rgba(0,174,240,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(17,117,190,1) 0%, rgba(17,117,190,1) 6%, rgba(0,174,240,1) 30%, rgba(0,174,240,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1175AB', endColorstr='#00AEF0',GradientType=1 ); /* ie6-9 */
}

.gr2{
    background: -moz-linear-gradient(0deg, rgba(33,57,101,1) 0%, rgba(33,57,101,1) 69%, rgba(14,128,184,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(33,57,101,1)), color-stop(69%, rgba(33,57,101,1)), color-stop(100%, rgba(14,128,184,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(0deg, rgba(33,57,101,1) 0%, rgba(33,57,101,1) 69%, rgba(14,128,184,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(0deg, rgba(33,57,101,1) 0%, rgba(33,57,101,1) 69%, rgba(14,128,184,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(0deg, rgba(33,57,101,1) 0%, rgba(33,57,101,1) 69%, rgba(14,128,184,1) 100%); /* ie10+ */
    background: linear-gradient(90deg, rgba(33,57,101,1) 0%, rgba(33,57,101,1) 69%, rgba(14,128,184,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#213B68', endColorstr='#0E80B8',GradientType=1 ); /* ie6-9 */
}

.chat-card-header{
    background: none!important;
    padding: 0.25rem!important;
    border-top: 2px solid #eceeef;
    border-bottom: 0px solid #00B0F0 !important;
    color:#000000!important;
}
/*---------fab icons-----*/

.fab {
    position: fixed;
    width: 40px;
    right: 10px;
    bottom: 15px;
}

.fab:hover .fab-buttons {
    opacity: 1;
    visibility: visible;
}

.fab:hover .fab-buttons__link {
    transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
    transition-delay: 0.3s;
}

.fab-action-button {
    position: absolute;
    bottom: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fab-buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.fab-action-button__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/svg/menu.svg');
    background-size: contain;
    color: #FFFFFF;
}

.fab-buttons__item {
    display: block;
    text-align: center;
    margin: 11px 0;
}

.fab-buttons__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

[data-tooltip]:before {
    top: 50%;
    margin-top: -11px;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #00B0F0;
    background: #FFFFFF;
    color: #00B0F0;
    content: attr(data-tooltip);
    font-size: 12px;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    padding: 4px 7px;
    margin-right: 12px;
    position: absolute;
    transform: scale(0);
    right: 100%;
    white-space: nowrap;
    transform-origin: top right;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transform-origin: right center 0;
}

.icon-material {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.icon-profile {
    background: url('../img/svg/user.svg') center no-repeat;
    background-size: contain;
}

.icon-call {
    background: url('../img/svg/phone.svg') center no-repeat;
    background-size: contain;
    width: 60%;
    height: 60%;
    position: relative;
    top: 22%;
}

.icon-video-record {
    background: url('../img/svg/record.svg') center no-repeat;
    width: 60%;
    height: 60%;
    position: relative;
    top: 22%;
    background-size: contain;
}

.icon-audio-record {
    background: url('../img/mic.png') center no-repeat;
    width: 60%;
    height: 60%;
    position: relative;
    top: 22%;
    background-size: contain;
}

.icon-share {
    background: url('../img/svg/share.svg') center no-repeat;
    background-size: contain;
}

.icon-settings {
    background: url('../img/svg/settings.svg') center no-repeat;
    background-size: contain;
}

.flowplayer {
    font-family: inherit !important;
    font-size: 12px !important;
    border-radius: 0em !important;
}

.channel1 {
    text-align: center;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.channel2 {
    text-align: center;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.channel3 {
    text-align: center;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

.channel4 {
    text-align: center;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}