/* styles in src/style directory are applied to the whole page */
body {
}

a {
    /*color: #03A9F4;*/
}

.card {
    border-radius: 0rem !important;
}

.remove-cards-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.card-header {
    color: #0080b0 !important;
    font-weight: bold;
}

.blue-icons {
    color: #0080b0 !important;
}

.icon-cell {
    width: 16px;
}

.flowplayer {
    background-color: #00abcd;
}
.flowplayer .fp-color-play {
    fill: #eee;
}