<div class="card-header text-center">Alerts<i class="fa fa-external-link float-right"
                                              aria-hidden="true"></i></div>
<table class="table table-sm">
    <thead>
    <tr>
        <th></th>
        <th>Date</th>
        <th>Time</th>
        <th>status</th>
        <th>User</th>
        <th>Media</th>
        <th>Map</th>
        <th colspan="2" style="text-align:center ;">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in ac.alertMessages">
        <td class="icon-cell">
            <img ng-if="i.get('incidentType')==='Fire'" src="../img/fire.png" class="alert-icons"/>
            <img ng-if="i.get('incidentType')==='Hazard'" src="../img/hazard.png" class="alert-icons"/>
            <img ng-if="i.get('incidentType')==='Medical'" src="../img/medical.png" class="alert-icons"/>
            <img ng-if="i.get('incidentType')==='Accident'" src="../img/accident.png" class="alert-icons"/>
            <img ng-if="i.get('incidentType')==='Police'" src="../img/police.png" class="alert-icons"/>
        </td>
        <td style="width: 100px;">{{i.get('time') | date:'dd-MMM-yyyy'}}</td>
        <td style="width: 50px;">{{i.get('time') | date:'h:mma'}}</td>
        <td>{{i.get('status')}}</td>
        </td>
        <td class="icon-cell"><a href="{{i.get('url')}}" target="_blank"><i
                class="fa fa-user-circle-o blue-icons"
                aria-hidden="true"></i></a></td>
        <td class="icon-cell">
            <i ng-if="i.get('mediaType')==='jpeg'" class="fa fa-picture-o blue-icons" aria-hidden="true"></i>
            <i ng-if="i.get('mediaType')==='video'" class="fa fa-film blue-icons" aria-hidden="true"></i>
            <i ng-if="i.get('mediaType')==='record'" class="fa fa-video-camera blue-icons" aria-hidden="true"></i>
            <i ng-if="i.get('mediaType')==='message'" class="fa fa-comments-o blue-icons" aria-hidden="true"></i>
            <i ng-if="i.get('mediaType')==='phone'" class="fa fa-phone blue-icons" aria-hidden="true"></i>
        </td>
        <td class="icon-cell" ng-init="">
            <a href="http://maps.google.com/maps?q={{i.get('location.latitude')}},{{i.get('location.longitude')}}"
               target="_blank">
                <i class="fa fa-globe blue-icons" aria-hidden="true"></i></a>
        </td>
        <td style="width: 50px;">
            <span class="badge badge-danger badge-custom-color">
                <i class="fa fa-trash" ng-click="ac.deleteRecordFromList(i.name)"></i>
            </span>
        </td>
        <td style="width: 50px;">
            <span class="badge badge-warning badge-custom-color"><i class="fa fa-link" ng-if="$index%2===0"></i></span>
            <span class="badge badge-warning badge-custom-color"><i class="fa fa-chain-broken" ng-if="$index%2===1"></i></span>
        </td>
    </tr>
    </tbody>
</table>