<div class="row" ng-init="ac.loadAsyncMobileVideos();">

    <div class="col-md-3 remove-cards-padding col-md-3-resize" style="border-right:2px solid #213B68">
        <div class="card" style="height: 26%;overflow: hidden!important;">
            <div class="card-header text-center">
                Mobile Feeds
            </div>
            <div class="card-block" style="height: inherit;padding: 0em 0rem;">
                <div class="row" id="mbVideosOne">
                    <div class="card text-center"
                         style="width:100%;height:100%;border: 0px!important;overflow-y:hidden;" id="loadingTextIdOne">
                        <div class="card-block">
                            <p class="card-text">Loading ...</p>
                            <img src="../img/loading_blue.gif">
                        </div>
                    </div>
                </div>
                <!-- <div class="stretchy-wrapper">
                     &lt;!&ndash;<img src="http://lorempixel.com/320/320/city/">&ndash;&gt;
                     &lt;!&ndash;<img src="http://localhost:8080/img/Social%20Feed%202%20-%20Twitter%20Print%20Screen.png">&ndash;&gt;
                     <img src="../img/3.jpg">
                     &lt;!&ndash;<img src="https://esbucketservice.s3.amazonaws.com/919845145035/IMAGE_20170718_093402_-2077939121.jpg">&ndash;&gt;
                     &lt;!&ndash;<img src="https://esbucketservice.s3.amazonaws.com/919845145035/IMG_20170706_141829.jpg">&ndash;&gt;
                 </div>-->
            </div>
        </div>

        <!--<div class="card" style="height:25%;overflow: hidden!important;">
            <div class="row" style="height: 100%!important;">
                <div class="card col-md-6">
                    <div class="card-block" style="padding: 0em 0rem;overflow: hidden!important;">
                        <div id="mbVideos0">
                            &lt;!&ndash;<img src="https://esbucketservice.s3.amazonaws.com/919845145035/IMG_20170719_205557.jpg">&ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="card col-md-6">
                    <div class="card-block" style="padding: 0em 0rem;overflow: hidden!important;">
                        <div id="mbVideos1">
                            &lt;!&ndash;<img src="https://esbucketservice.s3.amazonaws.com/919845145035/IMAGE_20170808_235634_1735632185.jpg">&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 100%!important;">
                <div class="card col-md-6">
                    <div class="card-block" style="padding: 0em 0rem;overflow: hidden!important;">
                        <div  id="mbVideos2">
                            &lt;!&ndash;<img src="https://esbucketservice.s3.amazonaws.com/919845145035/IMG-20170705-WA0007.jpg">&ndash;&gt;
                        </div>
                    </div>
                </div>
                <div class="card col-md-6">
                    <div  id="mbVideos3" class="card-block" style="padding: 0em 0rem;overflow: hidden!important;">
                        <div>
                            &lt;!&ndash;<img src="https://esbucketservice.s3.amazonaws.com/919845145035/IMAGE_20170718_093402_-2077939121.jpg">&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="card" style="height: 24%;overflow: hidden!important;border-top: 1px solid #213B68 !important;">
            <!--<div class="card-block" style="height: inherit;padding: 0em 0rem;">-->
            <div class="row" style="height: calc(100%/2);">
                <div id="mbVideos1" class="col-md-6" style="padding: 0px !important;"></div>
                <div id="mbVideos2" class="col-md-6" style="padding: 0px !important;"></div>
            </div>
            <div class="row" style="height: calc(100%/2);">
                <div id="mbVideos3" class="col-md-6" style="padding: 0px !important;"></div>
                <div id="mbVideos4" class="col-md-6" style="padding: 0px !important;"></div>
            </div>
            <!--</div>-->
        </div>

        <div class="card" style="height: 25%">
            <div class="card-header text-center">
                Camera Feeds
            </div>
            <div class="card-block" style="overflow: hidden;height: inherit;padding: 0em 0.9rem;background: #505050">
                <div class="row" style="height: calc(100%/2);">
                    <div id="videoChannel1" class="col-md-6 channel1">
                        <div id="CameraFeed1"></div>
                        <!--    <video autoplay style="height: 100%;width: 100%;">
                                <source type="video/mp4"
                                        src="video/Camera Feed 1 - Liverpool  Shopping.mp4">
                            </video>-->
                    </div>
                    <div id="videoChannel2" class="col-md-6 channel2">
                        <div id="CameraFeed2"></div>
                        <!-- <video autoplay style="height: 100%;width: 100%;">
                             <source type="video/mp4"
                                     src="video/Camera Feed 2 - Highway Car Video.mp4">
                         </video>-->
                    </div>
                </div>
                <div class="row" style="height: calc(100%/2)">
                    <div id="videoChannel3" class="col-md-6 channel3">
                        <div id="CameraFeed4"></div>
                    </div>
                    <div id="videoChannel4" class="col-md-6 channel4">
                        <div id="CameraFeed3"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="height: 25%">
            <div class="card-header text-center">
                Social Feeds
            </div>
            <div class="card-block" style="overflow: hidden;height: inherit;padding: 0em 0.9rem;background: #505050">
                <div class="row" style="height: calc(100%/2);">
                    <div id="socialNetwork1" class="col-md-6 channel1">
                        <div id="socialFeed1"></div>
                    </div>
                    <div id="socialNetwork2" class="col-md-6 channel2">
                        <!--<div id="socialFeed2"></div>-->
                        <img src="img/Social Feed 2 - Twitter Print Screen.png" style="width: inherit;height: inherit">
                    </div>
                </div>
                <div class="row" style="height: calc(100%/2)">
                    <div id="socialNetwork3" class="col-md-6 channel3">
                        <img src="img/Social Feed 4 - Google + Print Screen.png" style="width: inherit;height: inherit">
                    </div>
                    <div id="socialNetwork4" class="col-md-6 channel4">
                        <div id="socialFeed3"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 remove-cards-padding col-md-6-resize">
        <div class="card" style="height: 25%;">
            <div class="card-header text-center gr2">
                Alerts
            </div>
            <div class="card-block" style="overflow-y: auto;padding: 0px;!important; font-size: 10px">
                <table class="table table-bordered table-sm" style="overflow-y: auto">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>User</th>
                        <th>Media</th>
                        <th>Location</th>
                        <th>Delete</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="i in ac.alertMessageList"
                        ng-class="i.status==='new'? 'row-normal-font-bold' :'row-normal-font'"
                        ng-if="i.notificationType!=='incident' && !(i.status === 'read' && !i.incidentId)" )
                        ng-click="ac.setSelectVideoAndMap(i.location.latitude,i.location.longitude,i.url,i.mediaType)">
                        <td class="icon-cell">
                            <img title="{{i.incidentType}}" ng-if="i.incidentType==='Fire'" src="../img/fire.png"
                                 class="alert-icons"/>
                            <img title="{{i.incidentType}}" ng-if="i.incidentType==='Alerts'" src="../img/hazard.png"
                                 class="alert-icons"/>
                            <img title="{{i.incidentType}}" ng-if="i.incidentType==='Medical'"
                                 src="../img/medical.png"
                                 class="alert-icons"/>
                            <img title="{{i.incidentType}}" ng-if="i.incidentType==='Accident'"
                                 src="../img/accident.png"
                                 class="alert-icons"/>
                            <img title="{{i.incidentType}}" ng-if="i.incidentType==='Police'" src="../img/police.png"
                                 class="alert-icons"/>
                        </td>
                        <td style="width: 100px;">{{i.time | date:'dd-MMM-yyyy'}}</td>
                        <td style="width: 50px;">{{i.time | date:'hh:mma'}}</td>
                        <td style="width: 100px;">{{i.status}}</td>
                        <td class="icon-cell">{{i.user.phoneNumber}}
                            <!--<i class="fa fa-user-circle-o blue-icons" aria-hidden="true" title="{{i.user.phoneNumber}}"></i>-->
                        </td>
                        <td class="icon-cell">
                            <div ng-if="i.notificationType !== 'incident' || i.notificationType !== 'call'">
                                <i title="{{i.mediaType}}"
                                   ng-if="i.mediaType.indexOf('image')!== -1 || i.mediaType.indexOf('jpeg')!== -1"
                                   class="fa fa-picture-o blue-icons"
                                   aria-hidden="true" ng-click="ac.playSelectVideoOrImage(i.url,i.mediaType)"></i>

                                <i title="{{i.mediaType}}" ng-if="i.mediaType.indexOf('video')!== -1"
                                   class="fa fa-film blue-icons"
                                   aria-hidden="true" ng-click="ac.playSelectVideoOrImage(i.url,i.mediaType)"></i>

                                <i title="{{i.mediaType}}"
                                   ng-if="i.mediaType.indexOf('audio')!== -1 || i.mediaType.indexOf('mpeg')!== -1"
                                   class="fa fa-microphone blue-icons"
                                   aria-hidden="true" ng-click="ac.playSelectVideoOrImage(i.url,i.mediaType)"></i>

                                <i title="{{i.mediaType}}" ng-if="i.mediaType.indexOf('streaming')!== -1"
                                   class="fa fa-video-camera blue-icons"
                                   aria-hidden="true" ng-click="ac.playSelectVideoOrImage(i.url,i.mediaType)"></i>

                                <i title="{{i.mediaType}}" ng-if="i.mediaType==='message'"
                                   class="fa fa-comments-o blue-icons"
                                   aria-hidden="true" ng-click="ac.playSelectVideoOrImage(i.url,i.mediaType)"></i>

                                <i title="{{i.mediaType}}" ng-if="i.mediaType==='Emergency Call'"
                                   class="fa fa-phone blue-icons" aria-hidden="true"
                                   ng-click="ac.playSelectVideoOrImage(i.url,i.mediaType)"></i>
                            </div>
                        </td>
                        <td class="icon-cell" ng-init="">
                            <!-- <a href="http://maps.google.com/maps?q={{i.location.latitude}},{{i.location.longitude}}"
                                target="_blank">
                                 <i class="fa fa-map-marker blue-icons" aria-hidden="true"></i>
                             </a>-->
                            <i class="fa fa-map-marker blue-icons" aria-hidden="true"
                               ng-click="ac.setLocationCenter(i.location.latitude,i.location.longitude)"></i>
                        </td>
                        <td style="width: 50px;">
                            <i class="fa fa-trash blue-icons"
                               ng-click="ac.deleteRecordFromList(i.name, i.id, i.notificationType)"></i>
                        </td>
                        <td style="width: 50px;">
                            <i class="fa fa-link blue-icons" ng-if="i.incidentId"></i>
                            <a href="#" data-tooltip="Settings" ng-if="!i.incidentId">
                                <i class="fa fa-chain-broken blue-icons"
                                   ng-click="ac.saveMappedIncidents(i.name, i.incidentId,i.id,i.notificationType)">
                                </i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card"
             style="height: 50%;">
            <div class="card-header text-center gr2">
                Locations
            </div>
            <leaflet lf-center="ac.center" markers="ac.markers" layers="ac.layers" markers-nested="true" height="460px"
                     width="100%"></leaflet>
        </div>
        <div class="card" style="height: 25%">
            <div class="card-header text-center gr2">
                Incidents
            </div>
            <div class="card-block" style="overflow-y: auto;padding: 0px;!important; font-size: 10px">
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Description</th>
                        <th>Reference</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Meeting#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in ac.alertMessageList" ng-if="i.notificationType==='incident'"
                        ng-class="{'row-normal-font-bold' :i.alert.status==='new' && !ac.rowClick[$index]}"
                        ng-click="ac.toggleRowClick($index)">
                        <td class="icon-cell">
                            <img title="{{i.alert.parentAlert[0].incidentType}}"
                                 ng-if="i.alert.parentAlert[0].incidentType==='Fire'" src="../img/fire.png"
                                 class="alert-icons"/>
                            <img title="{{i.alert.parentAlert[0].incidentType}}"
                                 ng-if="i.alert.parentAlert[0].incidentType==='Alerts'" src="../img/hazard.png"
                                 class="alert-icons"/>
                            <img title="{{i.alert.parentAlert[0].incidentType}}"
                                 ng-if="i.alert.parentAlert[0].incidentType==='Medical'"
                                 src="../img/medical.png"
                                 class="alert-icons"/>
                            <img title="{{i.alert.parentAlert[0].incidentType}}"
                                 ng-if="i.alert.parentAlert[0].incidentType==='Accident'"
                                 src="../img/accident.png"
                                 class="alert-icons"/>
                            <img title="{{i.alert.parentAlert[0].incidentType}}"
                                 ng-if="i.alert.parentAlert[0].incidentType==='Police'" src="../img/police.png"
                                 class="alert-icons"/>
                        </td>
                        <td style="width: 100px;">{{i.alert.time | date:'dd-MMM-yyyy'}}</td>
                        <td style="width: 50px;">{{i.alert.time | date:'hh:mma'}}</td>
                        <td>a new {{i.alert.parentAlert[0].incidentType}} incident has been created</td>
                        <td>{{i.alert.id}}</td>
                        <td>
                            <i class="fa fa-map-marker blue-icons" aria-hidden="true"
                               ng-click="ac.setLocationCenter(i.alert.parentAlert[0].location.latitude,i.alert.parentAlert[0].location.longitude)"></i>
                        </td>
                        <td>{{i.alert.status}}</td>
                        <td ng-if="i.alert.parentAlert[0].incidentType==='Fire'" src="../img/fire.png"
                            class="alert-icons">678465
                        </td>
                        <td ng-if="i.alert.parentAlert[0].incidentType==='Alerts'" src="../img/hazard.png"
                            class="alert-icons">694756
                        </td>
                        <td ng-if="i.alert.parentAlert[0].incidentType==='Medical'" src="../img/medical.png"
                            class="alert-icons">678565
                        </td>
                        <td ng-if="i.alert.parentAlert[0].incidentType==='Accident'" src="../img/accident.png"
                            class="alert-icons">689326
                        </td>
                        <td ng-if="i.alert.parentAlert[0].incidentType==='Police'" src="../img/police.png"
                            class="alert-icons">634526
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3 remove-cards-padding col-md-3-resize" style="border-left:2px solid #1175BE">
        <div class="card" style="height: 25%;">
            <div class="card-header text-center gr1">
                Messaging
            </div>
            <div class="card-block" style="overflow-y: auto;padding: 0px;!important; font-size: 10px">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Contact</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align: left!important">Michael Smith</td>
                        <td>13-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">Jessica Santiago</td>
                        <td>13-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">David Wong</td>
                        <td>12-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">Christophe Lenot</td>
                        <td>11-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">David Wong</td>
                        <td>12-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">Christophe Lenot</td>
                        <td>11-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">David Wong</td>
                        <td>12-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">Christophe Lenot</td>
                        <td>11-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">David Wong</td>
                        <td>12-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">Christophe Lenot</td>
                        <td>11-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">David Wong</td>
                        <td>12-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    <tr>
                        <td style="text-align: left!important">Christophe Lenot</td>
                        <td>11-07-2017</td>
                        <td>21:33:24</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" style="height: 25%;">
            <div class="card-header chat-card-header">
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-user-circle-o blue-icons" aria-hidden="true"></i></div>
                    <div class="col-md-5"><strong>Michael Smith</strong></div>
                    <div class="offset-md-1 col-md-1"><i class="fa fa-map-marker blue-icons" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-1"><i class="fa fa-phone blue-icons" aria-hidden="true"></i></div>
                    <div class="col-md-1"><i class="fa fa-video-camera blue-icons" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="card-block" style="overflow-y: auto;padding: 0px;!important; font-size: 10px">
                <div class="float-left"
                     style="background-color: #F2F2F2;padding: 5px;margin-top: 5px;width:75%;margin-left: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">
                        Assisting wounded woman at fairway shopping mall, 2nd floor</p>
                </div>
                <br/>
                <div class="float-right"
                     style="background-color: #DEEBF7;width:75%;margin-top: 5px;padding: 5px;margin-right: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">Do you need any assistance?</p>
                </div>
                <br/>
                <div class="float-left"
                     style="background-color: #F2F2F2;padding: 5px;margin-top: 5px;width:75%;margin-left: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">No. Under control here.
                    </p>
                </div>
                <div class="float-right"
                     style="background-color: #DEEBF7;width:75%;margin-top: 5px;padding: 5px;margin-right: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">Do you need any assistance?</p>
                </div>
                <br/>
                <div class="float-left"
                     style="background-color: #F2F2F2;padding: 5px;margin-top: 5px;width:75%;margin-left: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">No. Under control here.
                    </p>
                </div>
                <div class="float-right"
                     style="background-color: #DEEBF7;width:75%;margin-top: 5px;padding: 5px;margin-right: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">Do you need any assistance?</p>
                </div>
                <br/>
                <div class="float-left"
                     style="background-color: #F2F2F2;padding: 5px;margin-top: 5px;width:75%;margin-left: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">No. Under control here.
                    </p>
                </div>
            </div>
            <div class="card-footer" style="padding: 0px !important; border-top: none !important;">
                <form class="form-inline">
                    <div class="input-group col-md-12" style="padding: 0px !important;">
                        <input type="text" class="form-control" style="border-radius: 15px">
                        <span class="input-group-addon" style="border:none!important;">
                            <i class="fa fa-paperclip blue-icons" aria-hidden="true"></i>
                        </span>
                        <span class="input-group-addon" style="border:none!important;">
                                <i class="fa fa-microphone blue-icons" aria-hidden="true"></i>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="height: 25%">
            <div class="card-header text-center gr1">
                Video Camera
            </div>
            <div class="card-block" style="overflow: hidden;height: inherit;padding: 0em 0.9rem;background: #505050">
                <div class="row" style="height: 100%;">
                    <div id="VideoCamera1"></div>
                </div>
            </div>
        </div>
        <div class="card" style="height: 25%">
            <div class="card-header text-center gr1">
                Content Sharing
            </div>
            <div class="card-block" style="overflow: hidden;height: inherit;padding: 0em 0.9rem;background: #505050">
                <div class="row" style="height: calc(100%/2);">
                    <div style="position: relative;z-index: 99999;top: 75%; left: 45%;">
                        <i class="fa fa-play-circle blue-play-icons"
                           style=" display: inline-block; position: absolute; "
                           aria-hidden="true"></i>
                    </div>
                    <div id="contentSharing1" class="col-md-6 channel1">
                        <div id="sharing1"></div>
                    </div>
                    <div id="contentSharing2" class="col-md-6 channel2">
                        <div id="sharing2"></div>
                    </div>
                </div>
                <div class="row" style="height: calc(100%/2)">
                    <div id="contentSharing3" class="col-md-6 channel3">
                        <div id="sharing4"></div>
                    </div>
                    <div id="contentSharing4" class="col-md-6 channel4">
                        <div id="sharing3"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

