<div class="card-header text-center">Alerts<i class="fa fa-external-link float-right"
                                              aria-hidden="true"></i></div>
<table class="table table-sm">
    <thead>
    <tr>
        <th></th>
        <th>Date</th>
        <th>Time</th>
        <th>status</th>
        <th>Level</th>
        <th>User</th>
        <th>Media</th>
        <th>Map</th>
        <th style="width: 45px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in ac.alertMessages">
        <td class="icon-cell"><i class="fa fa-exclamation-triangle blue-icons"
                                 aria-hidden="true"></i>
        </td>
        <td>{{'12-JUL-2017'}}</td>
        <td>{{'09:30PM'}}</td>
        <td>{{i.status}}</td>
        <td>{{i.incidentId}}
        </td>

        <td class="icon-cell"><a href="{{i.url}}" target="_blank"><i
                class="fa fa-user-circle-o blue-icons"
                aria-hidden="true"></i></a></td>
        <td class="icon-cell">
            <i ng-if="i.mediaType==='Photo'" class="fa fa-picture-o blue-icons" aria-hidden="true"></i>
            <i ng-if="i.mediaType==='video'" class="fa fa-film blue-icons" aria-hidden="true"></i>
            <i ng-if="i.mediaType==='record'" class="fa fa-video-camera blue-icons" aria-hidden="true"></i>
            <i ng-if="i.mediaType==='message'" class="fa fa-comments-o blue-icons" aria-hidden="true"></i>
            <i ng-if="i.mediaType==='phone'" class="fa fa-phone blue-icons" aria-hidden="true"></i>
        </td>
        <td class="icon-cell"><a
                href="http://maps.google.com/maps?q={{i.location.latitude}},{{i.location.longitude}}"
                target="_blank"><i
                class="fa fa-globe blue-icons" aria-hidden="true"></i></a>
        </td>
        <td>
            <span class="badge badge-danger"><i class="fa fa-trash" ng-click="ac.deleteRecordFromList(i.entry)"></i></span>
            <span class="badge badge-warning"><i class="fa fa-link" ng-if="$index%2===0"></i></span>
            <span class="badge badge-warning"><i class="fa fa-chain-broken" ng-if="$index%2===1"></i></span>
        </td>
    </tr>
    </tbody>
</table>