<div class="row" ng-init="ac.loadAsyncMobileVideos();">

    <div class="col-sm-3  remove-cards-padding" style="border-right:2px solid #213B68">
        <div class="card" style="height: 50%">
            <div class="card-header text-center">
                Mobile Feeds
            </div>
            <div class="card-block" style="height: inherit;padding: 0em 0.9rem;">
                <div class="row" style="height: calc(100%/2);" id="mbVideos">
                    <div class="card text-center"
                         style="width:100%;height:100%;border: 0px!important;overflow-y:hidden;" id="loadingTextId">
                        <div class="card-block">
                            <p class="card-text">Loading ...</p>
                            <img src="../img/loading.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="height: 25%">
            <div class="card-header text-center">
                Camera Feeds
            </div>
            <div class="card-block" style="overflow: hidden;height: inherit;padding: 0em 0.9rem;background: #505050">
                <div class="row" style="height: calc(100%/2);">
                    <div id="videoChannel1" class="col-md-6 channel1">
                        <div id="CameraFeed1"></div>
                        <!--    <video autoplay style="height: 100%;width: 100%;">
                                <source type="video/mp4"
                                        src="video/Camera Feed 1 - Liverpool  Shopping.mp4">
                            </video>-->
                    </div>
                    <div id="videoChannel2" class="col-md-6 channel2">
                        <div id="CameraFeed2"></div>
                        <!-- <video autoplay style="height: 100%;width: 100%;">
                             <source type="video/mp4"
                                     src="video/Camera Feed 2 - Highway Car Video.mp4">
                         </video>-->
                    </div>
                </div>
                <div class="row" style="height: calc(100%/2)">
                    <div id="videoChannel3" class="col-md-6 channel3">
                        <div id="CameraFeed4"></div>
                    </div>
                    <div id="videoChannel4" class="col-md-6 channel4">
                        <div id="CameraFeed3"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card" style="height: 25%">
            <div class="card-header text-center">
                Social Feeds
            </div>
            <div class="card-block" style="overflow: hidden;height: inherit;padding: 0em 0.9rem;background: #505050">
                <div class="row" style="height: calc(100%/2);">
                    <div id="socialNetwork1" class="col-md-6 channel1">
                        <div id="socialFeed1"></div>
                    </div>
                    <div id="socialNetwork2" class="col-md-6 channel2">
                        <!--<div id="socialFeed2"></div>-->
                        <img src="img/Social Feed 2 - Twitter Print Screen.png" style="width: inherit;height: inherit">
                    </div>
                </div>
                <div class="row" style="height: calc(100%/2)">
                    <div id="socialNetwork3" class="col-md-6 channel3">
                        <img src="img/Social Feed 4 - Google + Print Screen.png" style="width: inherit;height: inherit">
                    </div>
                    <div id="socialNetwork4" class="col-md-6 channel4">
                        <div id="socialFeed3"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 remove-cards-padding">
        <div class="card" style="height: 25%;">
            <div ng-include src="'partials/alert-messages.html'"></div>
        </div>
        <div class="card"
             style="height: 50%;">
            <div class="card-header text-center gr2">
                Locations
            </div>
            <leaflet lf-center="ac.center" markers="ac.markers" layers="ac.layers" markers-nested="true" height="460px"
                     width="100%"></leaflet>
        </div>
        <div class="card" style="height: 25%">
            <div ng-include src="'partials/incidents-messages.html'"></div>
        </div>
    </div>
    <div class="col-sm-3 remove-cards-padding" style="border-left:2px solid #1175BE">
        <div class="card" style="height: 25%;">
            <div class="card-header text-center gr1">
                Messaging
            </div>
            <table class="table table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th>Contact</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td align="left">Michael Smith</td>
                    <td>13-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>Jessica Santiago</td>
                    <td>13-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>David Wong</td>
                    <td>12-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>Christophe Lenot</td>
                    <td>11-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>David Wong</td>
                    <td>12-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>Christophe Lenot</td>
                    <td>11-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>David Wong</td>
                    <td>12-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>Christophe Lenot</td>
                    <td>11-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>David Wong</td>
                    <td>12-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>Christophe Lenot</td>
                    <td>11-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>David Wong</td>
                    <td>12-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                <tr>
                    <td>Christophe Lenot</td>
                    <td>11-07-2017</td>
                    <td>21:33:24</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card" style="height: 25%;">
            <div class="card-header chat-card-header">
                <div class="row">
                    <div class="col-sm-1"><i class="fa fa-user-circle-o blue-icons" aria-hidden="true"></i></div>
                    <div class="col-sm-4"><strong>Michael Smith</strong></div>
                    <div class="offset-sm-3 col-sm-1"><i class="fa fa-map-marker blue-icons" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-1"><i class="fa fa-phone blue-icons" aria-hidden="true"></i></div>
                    <div class="col-sm-1"><i class="fa fa-video-camera blue-icons" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="card-block" style="overflow-y: auto;padding: 0px;!important; font-size: 10px">
                <div class="float-left"
                     style="background-color: #F2F2F2;padding: 5px;margin-top: 5px;width:75%;margin-left: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">
                        Assisting wounded woman at fairway shopping mall, 2nd floor</p>
                </div>
                <br/>
                <div class="float-right" style="background-color: #DEEBF7;width:75%;margin-top: 5px;padding: 5px;margin-right: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">Do you need any assistance?</p>
                </div>
                <br/>
                <div class="float-left"
                     style="background-color: #F2F2F2;padding: 5px;margin-top: 5px;width:75%;margin-left: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">No. Under control here.
                    </p>
                </div>
                <div class="float-right" style="background-color: #DEEBF7;width:75%;margin-top: 5px;padding: 5px;margin-right: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">Do you need any assistance?</p>
                </div>
                <br/>
                <div class="float-left"
                     style="background-color: #F2F2F2;padding: 5px;margin-top: 5px;width:75%;margin-left: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">No. Under control here.
                    </p>
                </div>
                <div class="float-right" style="background-color: #DEEBF7;width:75%;margin-top: 5px;padding: 5px;margin-right: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">Do you need any assistance?</p>
                </div>
                <br/>
                <div class="float-left"
                     style="background-color: #F2F2F2;padding: 5px;margin-top: 5px;width:75%;margin-left: 10px;clear: both">
                    <p style="word-wrap: break-word;margin: 0px!important;">No. Under control here.
                    </p>
                </div>
            </div>
            <div class="card-footer" style="padding: 0px !important; border-top: none !important;">
                <form class="form-inline">
                    <div class="input-group col-md-12" style="padding: 0px !important;">
                        <input type="text" class="form-control" style="border-radius: 15px">
                        <span class="input-group-addon" style="border:none!important;">
                            <i class="fa fa-paperclip blue-icons" aria-hidden="true"></i>
                        </span>
                        <span class="input-group-addon" style="border:none!important;">
                                <i class="fa fa-microphone blue-icons" aria-hidden="true"></i>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="card" style="height: 25%">
            <div class="card-header text-center gr1">
                Video Camera
            </div>
            <div class="card-block" style="overflow: hidden;height: inherit;padding: 0em 0.9rem;background: #505050">
                <div class="row" style="height: 100%;">
                    <div id="VideoCamera1"></div>
                </div>
            </div>
        </div>
        <div class="card" style="height: 25%">
            <div class="card-header text-center gr1">
                Content Sharing
            </div>
            <div class="card-block" style="overflow: hidden;height: inherit;padding: 0em 0.9rem;background: #505050">
                <div class="row" style="height: calc(100%/2);">
                    <div id="contentSharing1" class="col-md-6 channel1">
                        <div id="sharing1"></div>
                    </div>
                    <div id="contentSharing2" class="col-md-6 channel2">
                        <div id="sharing2"></div>
                    </div>
                </div>
                <div class="row" style="height: calc(100%/2)">
                    <div id="contentSharing3" class="col-md-6 channel3">
                        <div id="sharing4"></div>
                    </div>
                    <div id="contentSharing4" class="col-md-6 channel4">
                        <div id="sharing3"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

