<div class="card-header text-center gr2">
    Incidents
</div>
<div class="card-block" style="overflow-y: auto;padding: 0px;!important; font-size: 10px">
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>Reference</th>
            <th>Location</th>
            <th>Status</th>
            <th>Meeting #</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in ac.alertMessageList" ng-if="i.notificationType==='incident'">
            <td class="icon-cell">
                <img title="incidentType" src="../img/fire.png" class="alert-icons"/>
            </td>
            <td style="width: 100px;">{{i.alert.time | date:'dd-MMM-yyyy'}}</td>
            <td style="width: 50px;">{{i.alert.time | date:'hh:mma'}}</td>
            <td>{{i.alert.status}}</td>
            <td>{{i.alert.id}}</td>
            <td>1</td>
            <td>{{i.alert.status}}</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>
</div>