<div class="card-header text-center">
    <img src="../img/foresee.png" class="float-left"> Incidents
    <i class="fa fa-external-link float-right" aria-hidden="true"></i></div>
<table class="table table-sm">
    <tbody>
    <tr ng-repeat="i in ac.alertMessageList" ng-if="i.notificationType==='incident'">
        <td class="icon-cell">
            <!--<img ng-if="i.alert.status==='new'" src="../img/open-inc.png" class="alert-icons"/>-->
            <img ng-if="i.alert.status==='new'" src="../img/new-inc.png" class="alert-icons"/>
            <img ng-if="i.alert.status==='read'" src="../img/closed-inc.png" class="alert-icons"/>
        </td>
        <td>{{i.alert.id}}</td>
        <td style="width: 100px;">{{i.alert.time | date:'dd-MMM-yyyy'}}</td>
        <td>{{i.alert.status}}</td>

        <!-- <tr ng-repeat="i in ac.alertMessages" ng-if="i.get('notificationType')==='incident'">
             <td class="icon-cell">
                 <!--<img ng-if="i.get('alert.status')==='new'" src="../img/open-inc.png" class="alert-icons"/>
            <img ng-if="i.get('alert.status')==='new'" src="../img/new-inc.png" class="alert-icons"/>
            <img ng-if="i.get('alert.status')==='read'" src="../img/closed-inc.png" class="alert-icons"/>
        </td>
        <td>{{i.get('alert.id')}}</td>
        <td style="width: 100px;">{{i.get('alert.time') | date:'dd-MMM-yyyy'}}</td>
        <td>{{i.get('alert.status')}}</td>
        <td class="icon-cell">
            <img ng-if="i.get('alert.incidentType')==='Fire'" src="../img/fire.png" class="alert-icons"/>
            <img ng-if="i.get('alert.incidentType')==='Hazard'" src="../img/hazard.png" class="alert-icons"/>
            <img ng-if="i.get('alert.incidentType')==='Medical'" src="../img/medical.png" class="alert-icons"/>
            <img ng-if="i.get('alert.incidentType')==='Accident'" src="../img/accident.png" class="alert-icons"/>
            <img ng-if="i.get('alert.incidentType')==='Police'" src="../img/police.png" class="alert-icons"/>
        </td>-->
    </tr>
    </tbody>
</table>