<nav class="col-md-1 col-lg-1 remove-cards-padding" style="background-color: #0080b0;">
    <ul class="nav nav-pills flex-column text-center" style="padding-top: 10px;">
        <li class="nav-item">
            <a href="#" class="nav-bar-menu">
                <i class="fa fa-user-o fa-3x"></i>
                <p>Profile</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#about" class="nav-bar-menu">
                <i class="fa fa-cog fa-3x"></i>
                <p>Setting</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#photos" class="nav-bar-menu">
                <i class="fa fa-pause fa-3x"></i>
                <p>Record</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-bar-menu">
                <i class="fa fa-camera fa-3x"></i>
                <p>Record</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-bar-menu">
                <i class="fa fa-phone fa-3x"></i>
                <p>Call</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-bar-menu">
                <i class="fa fa-share-alt fa-3x"></i>
                <p>Share</p>
            </a>
        </li>
    </ul>
</nav>