<div class="card-header text-center">Surveillance Cameras
    <i class="fa fa-external-link float-right" aria-hidden="true"></i></div>
<div class="card-block" style="padding: 0px !important;margin: 0px !important;">
    <div class="flowplayer-block">
        <div data-live="true" class="flowplayer">
            <video data-title="Live stream">
                <source type="application/x-mpegurl"
                        src="http://184.72.239.149/vod/mp4:BigBuckBunny_115k.mov/playlist.m3u8">
            </video>

        </div>
    </div>
    <div class="flowplayer-block">
        <div data-live="true" class="flowplayer">

            <video data-title="Live stream">
                <source type="application/x-mpegurl"
                        src="http://184.72.239.149/vod/mp4:BigBuckBunny_115k.mov/playlist.m3u8">
            </video>

        </div>
    </div>
    <div class="flowplayer-block">
        <div data-live="true" class="flowplayer">

            <video data-title="Live stream">
                <source type="application/x-mpegurl"
                        src="http://184.72.239.149/vod/mp4:BigBuckBunny_115k.mov/playlist.m3u8">
            </video>

        </div>
    </div>
</div>
