<div class="card-header text-center">Video Channels <i class="fa fa-external-link float-right"
                                                       aria-hidden="true"></i></div>
<div class="card-block">
    <div class="card-block" style="height: inherit;padding: 0em 0.9rem;">
        <div class="row">
            <div id="videoChannel1" class="col-md-4" style="border-right:2px solid #FFFFFF">
                Channel 1
            </div>
            <div id="videoChannel2" class="col-md-4" style="border-right:2px solid #FFFFFF">
                Channel 2
            </div>
            <div id="videoChannel3" class="col-md-4">
                Channel 3
            </div>
        </div>
    </div>
    <div class="card-block" style="height: inherit;padding: 0em 0.9rem;">
        <div class="row">
            <div id="videoChannel4" class="col-md-4" style="border-right:2px solid red">
                Channel 1
            </div>
            <div id="videoChannel5" class="col-md-4" style="border-right:2px solid #FFFFFF">
                Channel 1
            </div>
            <div id="videoChannel6" class="col-md-4">
                Channel 1
            </div>
        </div>
    </div>
</div>
